<head>
  <link rel="icon" href="../images/logo-icon.png" />
  <link rel="stylesheet" href="../css/main.css" />
  <link rel="stylesheet" href="../css/animations.css" />
  <link rel="stylesheet" href="../css/despesas.css" />
  <link rel="stylesheet" href="../css/form.css" />
  <link rel="stylesheet" href="../css/database.css" />
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap" rel="stylesheet" />
</head>

<div class="database">

  {{#each dadosRelatorio}}
  <p>
    <span>{{this.id}}</span>
    <span>{{this.date}}</span>
    <span>{{this.name}}</span>
    <span>{{this.price}}</span>
    <span>{{this.obs}}</span>
    <span>{{this.type}}</span>
    <span><img src="../images/red-x.png" alt="{{this.id}}" onclick="deleteReport(event)"></span>
  </p>
  {{/each}}

</div>